html {
    scroll-behavior: smooth;
}

.jumbotron {
    background-color: #007bff;
    color: #fff;
}

@media (max-width: 575px) {
    .jumbotron {
        padding: 2rem 1rem;
    }
}

/*backgroun*/


.body_background {
    background-color: #282828;
}

/*Video Section*/

.card {
    height: 100%;
    box-shadow: 2px 2px 4px #000;
    border-radius: 8px;
    border: solid #1b95e0;
    padding: 4px 6px
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to right, #1b95e0, #ddd);
    border-radius: 2px;

}

.card-title {
    font-weight: bold;
    color: #000;
    text-align: center;
    font-family: "Press Start 2P", sans-serif;
}

.h2 {
    font-family: 'Proxima Nova', sans-serif;
}



/*search portion*/
.button {
    background-color: #1b95e0;
    border-radius: 8px;
    border: 2px solid #000;
    box-shadow: 2px 2px 4px #000;
    font-family: "Press Start 2P", sans-serif;
    color: #000;
    padding: 4px 6px
}

.search_box {
    background-color: whitesmoke;
    border-radius: 8px;
    border: 2px solid #000;
    box-shadow: 2px 2px 4px #000;
    color: #000;
    padding: 4px 6px;
    align-self: flex-start;
}




.banner {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #1b95e0, #ddd);
    height: 80px;
    box-shadow: 2px 2px 4px #000;
    transform: rotateX(10deg) translateZ(-10px);
}

.video-label {
    text-shadow: 2px 2px 4px #000;
    color: #fff;
    font-size: 36px;
    margin: 0;
    text-align: center;
    padding-left: 20px;
}

.description-border {
    display: flex;
    background: #1b95e0;
    height: 80px;


}

.description-label {
    text-align: center;
    color: white;
    font-size: 24px;

}




/*navbar*/



/*Homepage Profile Pictures*/

.famprofile {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    padding: .1rem;
    margin: auto;
    border: 5px solid;
    border-color: #000;
}

.profile-name {
    color: white;
}


/*Videos Sections of home page*/
.video-categories {
    position: relative;
    margin-top: 50px;
    text-align: center;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.video-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    margin-right: 20px;
    scroll-snap-align: center;
}

.video-category a {
    color: black;
    text-decoration: none;
    font-family: "Press Start 2P", sans-serif;
}

.video-category img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border: solid;
    box-shadow: 2px 2px 4px #000;
}

.video-category h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}


.bg-color {
    background-color: #1b95e0;
    border-radius: 8px;
    border: 2px solid #000;
    box-shadow: 2px 2px 4px #000;
    font-family: "Press Start 2P", sans-serif;
    color: #000;
    padding: 4px 6px
}

.fas {
    justify-content: center;
    color: #1b95e0;
    margin: auto;
}

.nav-lgo {
    position: relative;
    background-color: #1b95e0;
    display: block;
    margin-bottom: 5rem;
    background-position: center;
    border: #000;
    box-shadow: 2px 2px 4px #000;
    font-family: "Press Start 2P", sans-serif;
    color: #000;
    padding: 4px 6px
}